.gitCalender>div{
    margin: auto;
    border: 2px solid rgb(115, 115, 115);
    padding:5px;
    border-radius: 3px
}
.gitCalender>p{
    font-size: 55px;
}
@media (min-width: 20px) and (max-width: 800px) {
    .gitCalender>p{
        font-size: 45px;
    }
 }
