.experience {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience>p {
    font-size: 50px;
    font-weight: bold;
    color: #ffa31a;
    text-align: center;
}

.experience_list {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 20px;
    width: 800px;
    box-shadow: rgba(140, 139, 139, 0.3) 0px 19px 38px, rgba(90, 89, 89, 0.22) 0px 15px 12px;
    margin-top: 50px;
    padding: 40px;
}

.experience_list>h1 {
    font-size: 28px;
    font-weight: bold;
    color: #ffa31a;
}

.experience_list>p {
    margin-bottom: 28px;
}

.experience_list>h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffa31a;
    font-weight: bold;

}

ul>li {
    margin-top: 8px;
}

@media (min-width: 500px) and (max-width: 980px) {

    .experience_list {
        width: 500px;
    }
}


@media (min-width: 200px) and (max-width: 500px) {

    .experience_list {
        width: 300px;
    }
}